@page
@model IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Activity Voting Page";
    var antiforgeryToken = Xsrf.GetAndStoreTokens(HttpContext).RequestToken;
}

<div class="text-center">
    <h1 class="display-4">Welcome to Alpine Ski House!</h1>
    <p>Engage with our activities and let us know what you think!</p>
</div>

<div class="container" id="activities-container">
    <!-- Include CSRF Token for client-side JavaScript use -->
    <input type="hidden" id="csrf-token" value="@antiforgeryToken">
    <!-- Activities will be loaded here dynamically -->
</div>

<template id="activity-template">
    <div class="card my-3" data-id="">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <div class="btn-group">
                <button class="btn btn-success like-btn">Like <span class="count"></span></button>
                <button class="btn btn-danger dislike-btn">Dislike <span class="count"></span></button>
            </div>
        </div>
    </div>
</template>

@section Scripts {
    <script src="~/js/site.js" defer></script>
}
